@import "bootstrap/scss/variables";

.field_with_errors {
    .form-control {
        border-color: $danger;
    }
    .control-label {
        color: $danger;
    }
}

.form-inline {
    display: inline-block;
}

#notice {
    position: absolute;
    width: 100%;
    z-index: 10000;
    opacity: 100%;

    &.hidden {
        visibility: hidden;
        opacity: 30%;
        transition: visibility 5s, opacity 10s;

    }
}

.task:hover {
    border-color: $warning;
    box-shadow: 1px 1px 1px $secondary;
}